body {
    background-image: linear-gradient(147deg, #000000 0%, #1a0283 74%);
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: system-ui;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
}